body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #e0e5ec;
  color: #333;
    }

.container {
  max-width: 900px;
  margin: 20px auto;
  border-radius: 40px;
  background: #e0e5ec;
  padding: 40px;
  box-shadow: inset 30px 30px 40px #a3b1c6, inset -30px -30px 40px #fff;
  display: flex;
  gap: 30px;
}

.photo {
  border-radius: 20px;
  padding: 20px;
  height: 235px;
  box-shadow: 10px 10px 20px #a3b1c6, -10px -10px 10px #fff;
  transition: 0.3s;
}

.photo:active {
  box-shadow: none;
}

.photo img {
  width: 180px;
  object-fit: cover;
  border-radius: 20px;
}

.content {
  flex: 1;
}

h1 {
  margin-top: 0;
  padding: 5px 20px;
  border-bottom: 2px solid #a3b1c6;
  padding-bottom: 10px;
  color: #2c3e50;
}

.section {
  margin-bottom: 25px;
  background-color: #a2b3ec0;
  border-radius: 20px;
  padding: 5px 20px;
  transition: 0.3s;
}

.section:hover {
  box-shadow: 10px 10px 20px #a3b1c6, -10px -10px 20px #fff;
}

.section:active {
  box-shadow: none;
}

.section h2 {
  margin-bottom: 10px;
  color: #2c3e50;
}

.skills ul {
  list-style: none;
  padding: 0;
}

.skills li {
    display: inline-block;
    background: #2c3e50;
    color: #fff;
    padding: 5px 10px;
    margin: 5px 5px 0 0;
    border-radius: 4px;
    font-size: 14px;
    transition: 0.3s all;
}

li:hover {
  scale: 1.1;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .photo {
    margin-bottom: 20px;
  }

  .photo img {
    width: 150px;
    height: 150px;
  }

  .content {
    width: 100%;
  }
}